{
	"singleQuote": true,
	"jsxSingleQuote": true,
	"semi": false,
	"tabWidth": 4,
	"useTabs": true,
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"printWidth": 300,
	"proseWrap": "never",
	"arrowParens": "always",
	"trailingComma": "none"
}
